[submodule "VMeshTools"]
	path = FTL/Util/VMeshTools
	url = https://github.com/IFTE-EDA/VMeshTools
	branch = dev
[submodule "pyUNV"]
	path = FTL/Util/pyUNV
	url = https://github.com/nico-arnold/pyUNV.git
[submodule "FTL/Util/fcad_pcb_ftl"]
	path = FTL/Util/fcad_pcb_ftl
	url = https://github.com/nico-arnold/fcad_pcb_ftl
